<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% docs.forEach(function(services){ %>
        <li>
          <a href="/edit/<%= services._id %>">
            <%= services.nome %>
          </a>
          <a href="/delete/<%= services._id %>" 
            onclick="return confirm('Tem certeza que deseja excluir?');">
            X
          </a>
        </li>
      <% }) %>
    </ul>

    <hr />
    <a href="/new">Cadastrar novo servico</a>

  </body>
</html>